body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f6f6f6;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    max-width: 80%;
    background-color: #fff;
    border-radius: 10px;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-top: 20px;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.bottom-row {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.card-title {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
}

.logotype {
    animation: logo-spin infinite 20s linear;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    transition: 0.2s;
}

.bot-link {
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #007aff;
    text-decoration: none;
}

.generate-button {
    flex-grow: 1; /* Make the generate button grow to fill space */
    margin-right: 10px; /* Add some space between the button and the accordion toggle */
    background-color: #e5f1ff;
    color: #007aff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.reset-colors-button {
    flex-grow: 1;
    background-color: #ffdcd5;
    color: #e56555;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.generate-button:hover {
    filter: opacity(0.7);
}

.generate-button:active {
    transform: scale(0.97);
}

.animal-picture {
    width: 512px;
    height: 512px;
    background-color: #f2f2f2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #757575;
    text-align: center;
}

.animal-picture::selection {
    background-color: transparent;
}

.animal-name-input {
    width: calc(100% - 10px);
    height: 25px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #757575;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;
    outline: none;
}

.animal-name-input:active {
    transform: scale(0.97);
}

.download-button {
    background-color: #1976d2;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.download-button:hover {
    filter: opacity(0.7);
}

.download-button:active {
    transform: scale(0.97);
}

.loader {
    width: 512px;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.telegram-button {
    background-color: #d3d3d3;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    transition: 0.2s ease;
}

.telegram-button:hover {
    filter: opacity(0.7);
}

.telegram-button:active {
    transform: scale(0.97);
}

.telegram-button.available {
    background-color: #76c84d;
    cursor: pointer;
}

.telegram-button.unavailable {
    background-color: #e56555;
}

button:disabled,
button[disabled] {
    filter: opacity(0.7);
    cursor: not-allowed;
    pointer-events: none;
}

.background-picker,
.animal-picker {
    display: flex;
    align-items: center;
}

.animal-picker {
    margin: 0 auto;
}

.color-picker-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.color-picker-label {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #757575;
    margin-right: 5px;
}

.color-picker {
    width: 55px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid #dcdcdc;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 8px;
}

.color-picker::-moz-color-swatch {
    border: none;
    border-radius: 8px;
}

.color-picker::-moz-focus-inner {
    border: 0;
}

.accordion-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    transition: transform 0.3s ease;
    color: #007aff;
}

.icon.rotate {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.accordion-content.open {
    max-height: 300px; /* Adjust this value based on the content size */
}

@media only screen and (max-width: 700px) {
    .animal-picture {
        width: 70vw;
        height: 32vh;
    }

    .loader {
        width: 70vw;
        height: 32vh;
    }

    .color-picker-label {
        display: none;
    }

    .color-picker-container {
        gap: 10px;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
